 <div class="sticky mdl-shadow--2dp">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            <img src='http://i.imgur.com/hLSH4op.png'></img>
          </a>
        </h1>
      </li>
    </ul>
  </nav>
</div>

<br>

<header>
  <div>
    <div class="large-12">
      <img id="headerImg" src=<%= @type.image_url %>/>
    </div>
  </div>
</header>

<div class="row">
  <div class="large-12 column">
    <h2>Thanks for your payment, <strong><%= @user.first_name %></strong>!</h2>
    <table border="1" style="width:100%">
      <tr>
        <td>Class Type:</td>
        <td><%= @appointment.type.name %></td>
      </tr>
      <tr>
        <td>Date:</td>
        <td><%= @appointment.class_date.strftime("%B %d, %Y (%A)") %></td>
      </tr>
      <tr>
        <td>Time:</td>
        <td><%= @appointment.class_date.strftime("%I:%M %p (%Z)") %></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td>
          <p>8333 CLAIREMONT MESA BLVD, SUITE 215</p>
          <p>SAN DIEGO, CA 92111</p>
        </td>
      </tr>
    </table>
    <p></p>
    <strong>PLEASE BRING:</strong>
    <% if @appointment.type.textbooks.size < 1 %>
      <p>
        None at this time
      </p>
    <% else %>
      <% @appointment.type.textbooks.each do |book| %>
        <% if book.buy_url.size > 0 %>
          <p>
            <a href="<%=book.buy_url%>" target="_blank"><%= book.name %></a>
          </p>
        <% else %>
          <p><%= book.name %></p>
        <% end %>
      <% end %>
    <% end %>
    <strong>WHAT TO EXPECT:</strong>
    <p>Please wear loose, comfortable clothing as you will be practicing skills that require working on your hands and knees, bending, standing, and lifting. If you have any physical conditions that might prevent you from participating in the course, please notify us at least 48 hours prior to your scheduled class so we can arrange any special accommodations that may be necessary. Each instructor will work to accommodate your needs within the stated course completion requirements.</p>
    <p>We look forward to welcoming you on <%= @appointment.class_date.strftime("%B %d, %Y (%A)") %>, at <%= @appointment.class_date.strftime("%I:%M %p (%Z)") %>. If you have any questions about the course, please call us at (619) 736-9223 or email us at acecprsd@gmail.com.</p>
    <hr></hr>
  </div>
</div>

<br>
<br>
<div class="panel mdl-shadow--2dp large-12 medium-12">
  <div class="row">

    <div class="small-6 medium-4 large-4 column">
      <p>
        Ace CPR San Diego<br>
        8333 Clairemont Mesa Blvd #215<br>
        San Diego, CA 92111<br>
        (619) 736-9223<br>
        <a href="mailto:acecprsd@gmail.com">Email Us</a><br>
        <a href="http://yelp.com/biz/ace-cpr-san-diego" target="_blank">
          <img src="http://i.imgur.com/KVurCGa.png"/>
        </a>
      </p>
    </div>

    <div class="small-6 medium-4 large-4 column">
      <div>
        <h6>We accept</h6>
        <img src="http://i.imgur.com/GueAWZr.png"/>
      </div>
    </div>

    <div class="small-10 medium-4 large-4 column">
      <ul class="inline-list right">
        <li class='right'>
          <a class='right' href="http://www.heart.org/">
            <img id="aha-logo" class="small-8 medium-8 large-8" src="http://i.imgur.com/3wezc3h.jpg"/>
          </a>
        </li>
        <li class='right'>
          <a href='/admin'>Admin Login</a>
        </li>
      </ul>
    </div>

  </div>
</div>
