 <div class="sticky mdl-shadow--2dp">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            <img src='https://i.imgur.com/hLSH4op.png'></img>
          </a>
        </h1>
      </li>
    </ul>
  </nav>
</div>

<header>
  <div>
    <div class="large-12">
      <img id="headerImg" src=<%= @type.image_url %>/>
    </div>
  </div>
</header>

<br>
<% if @card_error == 1 %>
  <div class="row" id="error_explanation">
    <h2>Charge Failed:</h2>
    <ul>
      <li>The card you entered was declined. Please verify the information you've entered is correct before submitting your payment. Thank you! You may contact us for further assistance.</li>
    </ul>
  </div>
<% end %>

<% if @user_error == 1 %>
  <div class="row" id="error_explanation">
    <h2> All fields must be completed. Thank you! </h2>
  </div>
<% end %>

<% if @invalid == 1 %>
  <div class="row" id="error_explanation">
    <h2>Invalid or Expired:</h2>
    <ul>
      <li>The code you entered is either invalid or expired.</li>
    </ul>
  </div>
<% end %>

<% if @redeemed == 1 %>
  <div class="row" id="redeemed_explanation">
    <h2>Discount Applied:</h2>
    <ul>
      <li>You may proceed with enrollment.</li>
    </ul>
  </div>
<% end %>

<div class="row">
  <h3><%= @type.name %></h3>
  <div class="medium-12 large-12 column">
    <h4><%= @type.description %></h4>
    <% if @type.notes.size > 0 %>
      <p>
        <strong> NOTE: <%= @type.notes %> </strong>
      </p>
    <% end %>
    <% if @type.duration.size > 0 %>
      <p>Duration: <%= @type.duration %></p>
    <% end %>
  </div>
</div>

<% if @type.books.size > 0 %>
  <style>
    .le-book-header {
      background-image: url("<%= @type.books.first.image_url %>");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      min-height: 200px;
      border-right: 1px black;
    }
    .book-info {
      border-left: solid #BDBDBD;
      border-width: 1px;
      border-height: 1px;
    }
  </style>
  <div class="row">
    <hr>
    <h6><strong> Required Text: </strong></h6>
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
      <header class="le-book-header mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--white-100 mdl-color-text--white">
      </header>
      <div class="book-info mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
          <h4><%= @type.books.first.title %></h4>
          <%= @type.books.first.description %>
        </div>
      </div>
    </section>
    <br>
    <hr>
  </div>
<% end %>

<br>
<!-- RADIO BUTTONZ -->
<!-- <div id='check-book' class='medium-12 large-12 column mdl-shadow--2dp'>
  <form>
    <input type="checkbox" id="checkboxid" /> I will bring my own book<br>
  </form>
</div> -->

<div class="row">
  <div class="medium-6 large-6 column">
    <div class='appts mdl-shadow--2dp'>
      <table class="mdl-data-table mdl-js-data-table">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Class Date</th>
            <th>Time (PDT)</th>
          </tr>
        </thead>
        <tbody>
          <% @appointments.each do |appointment| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <%= appointment.class_date.strftime("%B %d, %Y (%A)") %>
            </td>
            <td>
              <%= appointment.class_date.strftime("%I:%M %p") %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      <% if @appointments.size > 0 %>
        <% if @redeemed == 0 %>
          <%= form_for @coupon, url: {:action => "create", :controller => "coupons"}  do |g| %>
            <%= hidden_field_tag :type_id, @type.id  %>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <div class="medium-3" id="coupon-input">
                <%= g.label "Enter Promotion Code", :class => 'mdl-textfield__label coupon-label' %>
                <%= g.text_field :code, :class => 'mdl-textfield__input' %>
              </div>
              <div class="medium-3">
                <%= g.submit 'Redeem', :class => 'coupon-submit button mdl-shadow--2dp' %>
              </div>
            </div>
          <% end %>
        <% end %>
        <% else %>
          <p>
            <strong>
              No classes are currently scheduled at this time. Check back for future scheduling.
            </strong>
          </p>
    <% end %>
  </div>

<!-- if no books -->
<% if @type.books.size < 1 %>

  <div id="form" class="medium-6 large-6 column mdl-shadow--2dp">
    <br>
    <%= form_for @user, url: {:action => "create", :controller => "types"}, html: {class: "nifty_form", :"data-abide" => ''} do |f| %>
      <div>
        <%= f.label "Select Date" %>
        <%= f.collection_select(:appointment_id, @appointments, :id, :formated_date ) %>
      </div><br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
        <%= f.label :first_name, :class => 'mdl-textfield__label' %>
        <%= f.text_field :first_name, :class => 'mdl-textfield__input' %>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
        <%= f.label :last_name, :class => 'mdl-textfield__label' %>
        <%= f.text_field :last_name, :class => 'mdl-textfield__input' %>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
        <%= f.label :phone, :class => 'mdl-textfield__label' %>
        <%= f.text_field :phone, :class => 'mdl-textfield__input' %>
        <!-- <span class="mdl-textfield__error">Input is not a number!</span> -->
      </div><br>
      <div class='total-price'> Total: $<%= @price %> </div>
      <% if @appointments.size > 0 %>
        <%= form_tag charges_path do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button mdl-shadow--2dp"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Total: $<%= @price %>"
            data-amount="<%= @price * 100 %>"></script>
        <% end %>
      <% end %>
    <% end %>
    <% if @refund_policy.policy.size > 0 %>
      <p>** <%= @refund_policy.policy %></p>
    <% end %>
  </div>

<% else %>

    <div id="form" class="medium-6 large-6 column mdl-shadow--2dp">
      <br>
      <%= form_for @user, url: {:action => "create", :controller => "types"}, html: {class: "nifty_form", :"data-abide" => ''} do |f| %>
        <div>
          <%= f.label "Select Date" %>
          <%= f.collection_select(:appointment_id, @appointments, :id, :formated_date ) %>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
          <%= f.label :first_name, :class => 'mdl-textfield__label' %>
          <%= f.text_field :first_name, :class => 'mdl-textfield__input' %>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
          <%= f.label :last_name, :class => 'mdl-textfield__label' %>
          <%= f.text_field :last_name, :class => 'mdl-textfield__input' %>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
          <%= f.label :phone, :class => 'mdl-textfield__label' %>
          <%= f.text_field :phone, :class => 'mdl-textfield__input' %>
          <!-- <span class="mdl-textfield__error">Input is not a number!</span> -->
        </div><br>
        <%= check_box_tag :checkboxid, checked = true %> I will bring my own student manual<span class='without'> (- $<%= @type.books.first.cost %>.00) </span> </br></br>
        <div class='total-price own-book'> Total: $<%= @price %> </div>
        <div class='total-price without-book'> Total: $<%= @price + @type.books.first.cost %><span class='without'>*</span> </div>
        <div class='without without-blurb'>
          <p>*This total reflects the $<%= @price %>.00 charge for the course and the $<%= @type.books.first.cost %>.00 charge for the student manual. If you are bringing your own student manual, please check the “I will bring my own student manual” box above and the new total will be updated to reflect only the price of the course.</p>
        </div>
        <% if @appointments.size > 0 %>
          <%= form_tag charges_path do %>
            <div class='own-book'>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button mdl-shadow--2dp"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Total: $<%= @price %>"
                data-amount="<%= @price * 100 %>"></script>
            </div>
            <div class='without-book'>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button mdl-shadow--2dp"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Total: $<%= @price + @type.books.first.cost %>"
              data-amount="<%= (@price * 100) + (@type.books.first.cost * 100) %>"></script>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% if @refund_policy.policy.size > 0 %>
        <p>** <%= @refund_policy.policy %></p>
      <% end %>
    </div>

<% end %>

</div>

<br>
<br>
<div class="panel mdl-shadow--2dp large-12 medium-12">
  <div class="row">

    <div class="small-6 medium-4 large-4 column">
      <p>
        Ace CPR San Diego<br>
        8333 Clairemont Mesa Blvd #215<br>
        San Diego, CA 92111<br>
        (619) 736-9223<br>
        <a href="mailto:acecprsd@gmail.com">Email Us</a><br>
        <a href="https://yelp.com/biz/ace-cpr-san-diego" target="_blank">
          <img src="https://i.imgur.com/KVurCGa.png"/>
        </a>
      </p>
    </div>

    <div class="small-6 medium-4 large-4 column">
      <div>
        <h6>We accept</h6>
        <img src="https://i.imgur.com/GueAWZr.png"/>
      </div>
    </div>

    <div class="small-10 medium-4 large-4 column">
      <ul class="inline-list right">
        <li class='right'>
          <a class='right' href="https://www.heart.org/">
            <img id="aha-logo" class="small-8 medium-8 large-8" src="https://i.imgur.com/3wezc3h.jpg"/>
          </a>
        </li>
        <li class='right'>
          <a href='/admin'>Admin Login</a>
        </li>
      </ul>
    </div>

  </div>
</div>
