 <div class="sticky mdl-shadow--2dp">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="#">
            <img src='http://i.imgur.com/hLSH4op.png'></img>
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
  </nav>
</div>

<header>
  <div class="row">
    <div class="large-12 column">
      <img class="mdl-shadow--2dp" src="http://i.imgur.com/5TmBuib.jpg">
      <hr></hr>
    </div>
  </div>
</header>

<div class="row">
  <div class="medium-6 large-6 column">
    <h4>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</h4>
  </div>
  <div class="medium-6 large-6 column">
    <div class="mdl-shadow--2dp" id="gmap_canvas"></div>
  </div>
</div>

<ul class="example-orbit-content" data-orbit>
  <li data-orbit-slide="headline-1">
    <div class="text-center panel mid-headline">
      <h2>Headline 1</h2>
      <h3>Subheadline</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos animi, nobis illo. Repellendus atque dolorem, officia recusandae autem, laudantium consectetur, neque!</p>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div class="text-center panel mid-headline">
      <h2>Headline 2</h2>
      <h3>Subheadline</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos animi, nobis illo. Repellendus atque dolorem, officia recusandae autem, laudantium consectetur, neque!</p>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div class="text-center panel mid-headline">
      <h2>Headline 3</h2>
      <h3>Subheadline</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos animi, nobis illo. Repellendus atque dolorem, officia recusandae autem, laudantium consectetur, neque!</p>
    </div>
  </li>
</ul>

<div class="row">
  <div class="medium-6 large-6 column">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Class Date</th>
          <th>Available Spots</th>
        </tr>
      </thead>
      <tbody>
        <% @appointments.each do |appointment| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            <%= appointment.formated_date %>
          </td>
          <td><%= 8 - appointment.users.size %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="form" class="medium-6 large-6 column mdl-shadow--2dp">
    <br>
    <%= form_for @user, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
      <p>
        <%= f.label :class_date %>
        <%= f.collection_select(:appointment_id, @appointments, :id, :formated_date ) %>
      </p><br>
      <p>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </p>
      <p>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </p>
      <p>
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </p>
      <p id='total-price'> Total: $100.00 </p>
      <%= form_tag charges_path do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Total: $100.00"
          data-amount="10000"></script>
      <% end %>
    <% end %>
  </div>
</div>

<hr>

<div class="panel mdl-shadow--2dp">
  <div class="row">
    <div class="small-8 medium-6 large-6 column">
      <p>
        Ace CPR San Diego<br>
        8333 Clairemont Mesa Blvd #21<br>
        San Diego, CA 92111<br>
        <a href="mailto:webmaster@example.com">Email Us</a>
      </p>
    </div>
    <div class="small-4 medium-6 large-6 column">
      <ul class="inline-list right">
        <li>
          <a href='/admin'>Admin Login</a>
        </li>
      </ul>
    </div>
  </div>
</div>
