 <div class="sticky mdl-shadow--2dp">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            <img src='http://i.imgur.com/hLSH4op.png'></img>
          </a>
        </h1>
      </li>
    </ul>
  </nav>
</div>

<header>
  <div>
    <div class="large-12">
      <img id="headerImg" src=<%= @header.image_url %>/>
    </div>
  </div>
</header>

<br>

<% if @user.errors.any? %>
  <div class="row" id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited you from signing up. Correct the following and resubmit:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @invalid == 1 %>
  <div class="row" id="error_explanation">
    <h2>Invalid or Expired:</h2>
    <ul>
      <li>The code you entered is either invalid or expired.</li>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="medium-6 large-6 column">
    <h4><%= @about.content %></h4>
  </div>
  <div class="medium-6 large-6 column">
    <div class="mdl-shadow--2dp" id="gmap_canvas"></div>
  </div>
</div>

<ul class="example-orbit-content" data-orbit>
  <li data-orbit-slide="headline-1">
    <div class="text-center panel mid-headline">
      <h2><%= @headline.main %></h2>
      <p><%= @headline.content %></p>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div class="text-center panel mid-headline">
      <h2><%= @headline_two.main %></h2>
      <p><%= @headline_two.content %></p>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div class="text-center panel mid-headline">
      <h2><%= @headline_three.main %></h2>
      <p><%= @headline_three.content %></p>
    </div>
  </li>
</ul>


<div class="row">
  <div class="small-12 medium-12 large-12 column">
    <h3> Class Types </h3>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp index-table" id="types-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Class Type</th>
          <th class="mdl-data-table__cell--non-numeric">Description</th>
          <th class="mdl-data-table__cell--non-numeric">Sign up</th>
        </tr>
      </thead>
      <tbody>
        <% @types.each do |type| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric main-td">
            <%= type.name %>
          </td>
          <td class="main-td">
            <%= type.blurb %>
          </td>
          <td class="mdl-data-table__cell--non-numeric main-td">
            <%= link_to "Sign Up", type %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<br>
<div class="panel mdl-shadow--2dp large-12 medium-12">
  <div class="row">
    <div class="small-8 medium-6 large-6 column">
      <p>
        Ace CPR San Diego<br>
        8333 Clairemont Mesa Blvd #215<br>
        San Diego, CA 92111<br>
        <a href="mailto:acecprsd@gmail.com">Email Us</a>
      </p>
    </div>
    <div class="small-4 medium-6 large-6 column">
      <ul class="inline-list right">
        <li>
          <a href="http://www.heart.org/">
            <img id="aha-logo" class="small-6 medium-3 large-4" src="http://i.imgur.com/fTW3T0n.png"/>
          </a>
        </li>
        <li>
          <a href='/admin'>Admin Login</a>
        </li>
      </ul>
    </div>
  </div>
</div>
